@model TestTwo_20151.ViewModels.MovieFull

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>MovieFull</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.MovieTitle)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MovieTitle)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TicketPrice)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TicketPrice)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DirectorName)
            </dt>

        <dd>
            @Html.DisplayFor(model => model.DirectorName)
        </dd>

        <dt>
            Genres
        </dt>

        
            @foreach (var item in Model.Genres)
            {
                <dd>@item.Name</dd>
            }
       

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
